.schedule-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th {
    background: #eef2f7;
    padding: 10px;
}

.schedule-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* CALENDAR */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.calendar-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}